*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f5f5;
    color:#333;
    line-height:1.7;
}

header{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
    font-weight:bold;
}

.banner{
    background:#4caf50;
    color:white;
    text-align:center;
    padding:80px 20px;
}

section{
    padding:40px 20px;
    max-width:1000px;
    margin:auto;
}

h2{
    margin-bottom:15px;
}

button{
    padding:10px 15px;
    background:#2e7d32;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    background:#1b5e20;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    flex:1;
    min-width:250px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.oculto{
    display:none;
}

#numero{
    font-size:40px;
    color:green;
    font-weight:bold;
}

input{
    padding:10px;
    width:250px;
}

#quiz button{
    display:block;
    margin:10px auto;
    width:250px;
}

#quizResultado{
    font-size:20px;
    font-weight:bold;
    margin-top:15px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:30px;
}

footer ul{
    list-style:none;
}

@media(max-width:768px){

    nav{
        display:flex;
        flex-direction:column;
    }

    .cards{
        flex-direction:column;
    }

}
